body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #cceeff; /* color pastel */
}

canvas {
    background: #e0f7fa; /* cielo suave */
    display: block;
    margin: 10px auto;
    border: 2px solid #a7d7f9;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.gameover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff0f5;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ff99cc;
}